.bg-trend-post {
  background-color: #333333;
}
.color-text-in-trend-post {
  color: purple;
}

.my-masonry-grid {
  display: flex;
  margin-left: -5px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 5px;
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 5px;
}

@media screen and (min-width: 1072px) {
  .my-masonry-grid_column {
    position: relative;
    left: 13px;
  }
}

@media screen and (max-width: 251px) {
  .my-masonry-grid {
    margin-left: -1px;
  }

  .my-masonry-grid_column {
    padding-left: 2px;
  }
}

@media screen and (min-width: 685px) {
  .my-masonry-grid {
    padding-right: 11px;
  }
}

@media screen and (max-width: 429px) {
  .my-masonry-grid {
    margin-left: -3px;
  }

  .my-masonry-grid_column {
    padding-left: 3px;
  }
}

.my-masonry-grid img {
  max-width: 100%;
  height: auto;
  display: block;
}
