.hover-glow {
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  color: #ffffff;
  cursor: pointer;
}

.hover-glow:hover {
  color: #D69ADE !important;
  text-shadow: 0 0 5px #7D1C4A, 0 0 5px #7D1C4A !important;
  
}
.brand-home {
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  color: #DB2777;
  cursor: pointer;
}
.text-input-field {
  color: #FFFFFF;
}
.bg-submit-input{
  background-color: #DB2777;
}   